
// //Fonts
$font-main: 'Open Sans', sans-serif;
$font-primary: 'Bruno Ace', cursive;
$font-secondary:'Roboto', sans-serif;
$font-tertiary: 'Bruno Ace SC', cursive;





//Colors
// $main-color: #242B33;
$primary-color: #FFAC30;
// $secondary-color: #2D343C;
$text-color: #fff;
$eclipse: rgba(0, 0, 0, 0.45);
$text-input-color: #000000;

// //Media
$laptop: 1536px;
$tablet: 999px;
$mobile: 670px;